// Mixins

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin transition($expression) {
  -webkit-transition: $expression;
  transition: $expression;
}

@mixin calc($property, $expression) {
  #{$property}: -moz-calc(#{$expression});
  #{$property}: -webkit-calc(#{$expression});
  #{$property}: calc(#{$expression});
}

@mixin box-shadow($expression) {
  -webkit-box-shadow: $expression;
  -moz-box-shadow: $expression;
  box-shadow: $expression;
}

// Transition Times
$sidebar-transition: 150ms;

// Body
$body-bg: #696969;

// Borders
$laravel-border-color: darken($body-bg, 10%);
$list-group-border: $laravel-border-color;
$navbar-default-border: $laravel-border-color;
$panel-default-border: $laravel-border-color;
$panel-inner-border: $laravel-border-color;

// Brands
$brand-primary: #fefefe;
$brand-secondary: #3c3c3c;
$brand-info: #8eb4cb;
$brand-success: #2ab27b;
$brand-warning: #cbb956;
$brand-danger: #bf5329;

// Typography
$icon-font-path: "~bootstrap-sass/assets/fonts/bootstrap/";
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 14px;
$line-height-base: 1.6;

$text-color:          #ffffff;
$state-success-text:  #5ea85f;
$state-info-text:     #469ac1;
$state-warning-text:  #bc9948;
$state-danger-text:   #e55250;

// Navbar
$navbar-default-bg: #3c3c3c;
$navbar-height: 40px;

// Sidebar
$sidebar-width: 250px;
$sidebar-bg: #737373;
$sidebar-bg-active: lighten($sidebar-bg, 25%);
$sidebar-border: darken($sidebar-bg, 25%);

// Buttons
$btn-primary-bg: $brand-secondary;
$btn-default-color: $brand-secondary;


// Inputs
$input-border: lighten($text-color, 40%);
$input-border-focus: lighten($brand-primary, 25%);
$input-color-placeholder: lighten($text-color, 30%);

// Panels
$panel-default-heading-bg: #3c3c3c;
$panel-bg: #737373;
$panel-default-text: #fefefe;

